{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">
    <h1>About</h1>
    <p>
        The dashboard has been created for and by a Brit waiting to move in with his partner in France. To get an idea
        of what's happening in either country, I find myself checking across multiple tabs/dashboards eagerly watching
        daily case numbers, waiting for these waves to hit their peak.
    </p>
    <p>
        Instead of having multiple tabs open constantly, I decided to create a single dashboard that acts as a
        one-stop-shop to get all the information you need to understand the situation between the UK and France.
    </p>
    <p>
        See the <a href="https://github.com/rjjfox/covid-dashboard">Github repository</a> if you are interested in
        learning more about how the dashboard was built.
    </p>

    <h2>Upcoming Updates</h2>
    <ul>
        <li>
            <b>News feed widget</b> pulling out articles regarding lockdown plans, vaccination programs and more. This
            will
            likely leverage the <a href="https://newsapi.org/">News API</a>
        </li>
        <li>
            <b>Add infection rate per 100,000 cases</b> - this was previously the method by which the UK decided whether
            a country would be part of a travel corridor or not.
        </li>
        <li>
            <b>Data on vaccination progress</b> - this depends on how readily available the governments make the data.
        </li>
    </ul>

    <h2>Other Projects</h2>
    <p>
        Visit my personal blog at <a href="https://rfoxdata.co.uk/">RFoxData.co.uk</a> to see other things I'm working
        on.
    </p>

</div>
{% endblock %}