<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>COVID-19 Dashboard</title>

  <!-- plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">

  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reset.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/typography.css') }}" />

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="outer-grid">
    <div class="topnav">
      <h1 class="heading"><a href="#">COVID-19 Dashboard</a></h1>
      <ul class="navigation">
        <li><a href="#">About</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">Github</a></li>
        <li class="icon"><a href="javascript:void(0);" onclick="myFunction()">
            <i class="fa fa-bars"></i></a></li>
      </ul>
    </div>

    <!-- UK column -->
    <div id="title-uk" class="title">
      <h2>UK Coronavirus Situation</h2>
      <h4>Infection rates and trends</h4>
    </div>

    <div id="cases-uk" class="inner-grid">
      <div class="graph" id="{{ids[0]}}"></div>
      <div class="number number-one">
        <p>Current</p>
        <span>{{ uk_current_cases }}</span>
        <p>7 day average</p>
      </div>
      <div class="number number-two">
        <span>{{ uk_previous_week_cases }}</span>
        <p>vs. last week</p>
      </div>
      <div class="number number-three">
        <span>{{ uk_previous_month_cases }}</span>
        <p>vs. last month</p>
      </div>
    </div>
    <div id="deaths-uk" class="inner-grid">
      <div class="graph" id="{{ids[1]}}"></div>
      <div class="number number-one">
        <p>Current</p>
        <span>{{ uk_current_deaths }}</span>
        <p>7 day average</p>
      </div>
      <div class="number number-two">
        <span>{{ uk_previous_week_deaths }}</span>
        <p>vs. last week</p>
      </div>
      <div class="number number-three">
        <span>{{ uk_previous_month_deaths }}</span>
        <p>vs. last month</p>
      </div>
    </div>


    <!-- France column -->
    <div id="title-fr" class="title">
      <h2>France Coronavirus Situation</h2>
      <h4>Infection rates and trends</h4>
    </div>
    <div id="cases-fr" class="inner-grid">
      <div class="graph" id="{{ids[2]}}"></div>
      <div class="number number-one">
        <p>Current</p>
        <span>{{ fr_current_cases }}</span>
        <p>7 day average</p>
      </div>
      <div class="number number-two">
        <span>{{ fr_previous_week_cases }}</span>
        <p>vs. last week</p>
      </div>
      <div class="number number-three">
        <span>{{ fr_previous_month_cases }}</span>
        <p>vs. last month</p>
      </div>
    </div>
    <div id="deaths-fr" class="inner-grid">
      <div class="graph" id="{{ids[3]}}"></div>
      <div class="number number-one">
        <p>Current</p>
        <span>{{ fr_current_deaths }}</span>
        <p>7 day average</p>
      </div>
      <div class="number number-two">
        <span>{{ fr_previous_week_deaths }}</span>
        <p>vs. last week</p>
      </div>
      <div class="number number-three">
        <span>{{ fr_previous_month_deaths }}</span>
        <p>vs. last month</p>
      </div>
    </div>
  </div>

  <!--footer section-->
  <div id="footer" class="container"></div>
  </div>
</body>

<footer>
  <script type="text/javascript">
    // plots the figure with id
    // id much match the div id above in the html
    var figures = {{ figuresJSON | safe }};
    var ids = {{ ids | safe }};
    for (var i in figures) {
      Plotly.newPlot(ids[i],
        figures[i].data,
        figures[i].layout,
        config = {responsive: true} || {});
    }

    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</footer>

</html>