{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="outer-grid">
  <!-- UK column -->
  <div id="title-uk" class="title">
    <h2>UK Coronavirus Situation</h2>
    <h4>Infection rates and trends</h4>
  </div>

  <div id="cases-uk" class="inner-grid">
    <div class="graph" id="{{ids[0]}}"></div>
    <div class="number number-one">
      <p>Current</p>
      <span>{{ uk_current_cases }}</span>
      <p>7 day average</p>
    </div>
    <div class="number number-two">
      <span>{{ uk_previous_week_cases }}</span>
      <p>vs. last week</p>
    </div>
    <div class="number number-three">
      <span>{{ uk_previous_month_cases }}</span>
      <p>vs. last month</p>
    </div>
  </div>
  <div id="deaths-uk" class="inner-grid">
    <div class="graph" id="{{ids[1]}}"></div>
    <div class="number number-one">
      <p>Current</p>
      <span>{{ uk_current_deaths }}</span>
      <p>7 day average</p>
    </div>
    <div class="number number-two">
      <span>{{ uk_previous_week_deaths }}</span>
      <p>vs. last week</p>
    </div>
    <div class="number number-three">
      <span>{{ uk_previous_month_deaths }}</span>
      <p>vs. last month</p>
    </div>
  </div>


  <!-- France column -->
  <div id="title-fr" class="title">
    <h2>France Coronavirus Situation</h2>
    <h4>Infection rates and trends</h4>
  </div>
  <div id="cases-fr" class="inner-grid">
    <div class="graph" id="{{ids[2]}}"></div>
    <div class="number number-one">
      <p>Current</p>
      <span>{{ fr_current_cases }}</span>
      <p>7 day average</p>
    </div>
    <div class="number number-two">
      <span>{{ fr_previous_week_cases }}</span>
      <p>vs. last week</p>
    </div>
    <div class="number number-three">
      <span>{{ fr_previous_month_cases }}</span>
      <p>vs. last month</p>
    </div>
  </div>
  <div id="deaths-fr" class="inner-grid">
    <div class="graph" id="{{ids[3]}}"></div>
    <div class="number number-one">
      <p>Current</p>
      <span>{{ fr_current_deaths }}</span>
      <p>7 day average</p>
    </div>
    <div class="number number-two">
      <span>{{ fr_previous_week_deaths }}</span>
      <p>vs. last week</p>
    </div>
    <div class="number number-three">
      <span>{{ fr_previous_month_deaths }}</span>
      <p>vs. last month</p>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Look at device type before defining the config
  function setPlotlyConfig(x) {
    if (x.matches) { // If media query matches
      config = {responsive: true, displayModeBar: false};
    } else {
      config = {responsive: true};
    }
    return config;
  }
  var lessThan700 = window.matchMedia("(max-width: 700px)")
  plotly_config = setPlotlyConfig(lessThan700)
  
  // plots the figure with id
  // id much match the div id above in the html
  var figures = {{ figuresJSON | safe }};
  var ids = {{ ids | safe }};
  for (var i in figures) {
    Plotly.newPlot(ids[i],
      figures[i].data,
      figures[i].layout,
      config = plotly_config || {});
  }

  // Synchronise zoom between the plots on interaction
  var figure_0 = document.getElementById('figure-0');
  var figure_1 = document.getElementById('figure-1');
  var figure_2 = document.getElementById('figure-2');
  var figure_3 = document.getElementById('figure-3');

  var divs = [figure_0, figure_1, figure_2, figure_3];

  function relayout(ed, divs) {
    divs.forEach((div, i) => {
      let x = div.layout.xaxis;
      if (ed["xaxis.autorange"] && x.autorange) return;
      if (x.range[0] != ed["xaxis.range[0]"] || x.range[1] != ed["xaxis.range[1]"])
        Plotly.relayout(div, ed);
    });
  }

  divs.forEach(div => {
    div.on("plotly_relayout", function(ed) {
      console.log(ed)
      relayout(ed, divs);
    });
  });
</script>
{% endblock %}