.container-1 {
  margin: 0 1%;
  display: flex;

  /* flex-flow: row wrap;
  justify-content: space-around; */
}

/* .uk {
  grid-column: 1;
}

.france {
  grid-column: 2;
} */

.column-title {
  margin-top: 20px;
}
