.container-1 {
  margin: 0 1%;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
}

.uk,
.france {
  flex: 1;
  margin: 10px;
  border: 3px solid #333;
  flex-basis: 45%;
}

.graph-numbers {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-auto-rows: minmax(200px, auto); */
}

.graph {
  min-height: 500px;
}

.numbers {
  display: flex;
  flex-direction: column;
}
