html,
body {
  margin: 0;
}

/* ============== Body CSS Grid ============== */
.body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* ============== Outer CSS grid arrangement and formatting ============== */
.outer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.15fr 1.5fr 1.5fr;
  grid-template-areas:
    "title-uk title-fr"
    "cases-uk cases-fr"
    "deaths-uk deaths-fr";
  gap: 1em;
  margin-top: 1em;
}

#title-uk {
  grid-area: title-uk;
}

#cases-uk {
  grid-area: cases-uk;
}

#deaths-uk {
  grid-area: deaths-uk;
}

#title-fr {
  grid-area: title-fr;
}

#cases-fr {
  grid-area: cases-fr;
}

#deaths-fr {
  grid-area: deaths-fr;
}

/* ============== Inner grid arrangement and styling ============== */
.inner-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.5em;
  align-items: stretch;
  grid-template-areas:
    "graph number-one"
    "graph number-two"
    "graph number-three";
  min-height: 400px;
}

.graph {
  grid-area: graph;
}

.number-one {
  grid-area: number-one;
  align-self: center;
  justify-self: center;
}

.number-two {
  grid-area: number-two;
  align-self: center;
  justify-self: center;
}

.number-three {
  grid-area: number-three;
  align-self: center;
  justify-self: center;
}

/* ============== Single column layout query ============== */
@media (max-width: 800px) {
  .outer-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-uk"
      "cases-uk"
      "deaths-uk"
      "title-fr"
      "cases-fr"
      "deaths-fr";
  }

  .inner-grid {
    min-height: 400px;
  }
}

@media (max-width: 1000px) {
  .inner-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
      "graph graph graph"
      "number-one number-two number-three";
    margin-bottom: 5px;
  }
}

/* ============== Text styling ============== */
h2,
h4 {
  font-family: "Open Sans", sans-serif;
}

.title {
  padding-left: 10px;
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.number p {
  font-size: 0.9em;
}

.number span {
  font-size: 1.5em;
}

/* ============== Top Nav ============== */
.topnav {
  display: flex;
  /* Align content right and use 
  margin-right: auto to put h1 at left */
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #003f72;
  color: #f2f2f2;
}

.heading {
  margin: 0;
  margin-right: auto;
  float: left;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  font-weight: 600;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #afb5bb;
}

.topnav .burger-icon {
  display: none;
}

.topnav .github-icon {
  width: 25px;
  display: block;
  fill: #f2f2f2;
}

.topnav .github-icon:hover {
  fill: #afb5bb;
}

@media screen and (max-width: 600px) {
  .topnav {
    display: block;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.burger-icon {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .burger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a,
  .topnav.responsive h1 {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ============== Footer ============== */
.site-footer {
  padding-bottom: 0rem;
  color: #99999a;
  background-color: #fafafb;
  margin-top: 2em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.small-font {
  font-size: 14px;
}

.site-footer .icon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  fill: currentColor;
  padding-left: 5px;
}

/* ============== Info pages ============== */

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px dashed #eeeeee;
}

@media screen and (min-width: 781px) {
  .container {
    width: 90%;
    padding-top: 50px;
  }
}

@media screen and (min-width: 401px) {
  .container {
    width: 100%;
    padding: 32px 32px;
  }
}

.container p {
  margin-bottom: 1.25em;
}

.container h2 {
  margin: 2.2em 0 1em;
}

.container li {
  margin: 1em 0;
}

.container a {
  color: #3ca4ff;
}

.container a:hover {
  color: #378ad3;
}
